@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

/* Nav Bar */

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  background-color: white;
  height: 70px;
  transition: background-color 0.5s;
}
.nav-bar.dark-mode {
  background-color: #333;
  color: white;
  transition: background-color 0.5s, color 0.5s;
}
.nav-bar h2 {
  font-size: 30px;
  font-weight: 600;
}
.nav-bar a {
  text-decoration: none;
  color: #f4dfc8;
}

.nav-cart {
  display: flex;
  align-items: center;
  position: relative;
}
.bag-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  left: 1.3rem;
  bottom: 0.8rem;
  font-size: 14px;
  color: white;
  border-radius: 50%;
  font-weight: 500;
  position: absolute;
  background-color: black;
}

.nav-bar.dark-mode .bag-quantity {
  background-color: #faf6f0;
  color: black;
}

.home-route,
.product-route,
.about-route {
  margin-right: 50px;
  cursor: pointer;
}
.logo {
  width: 160px;
  height: 60px;
}
.mode-icon {
  width: 38px;
  cursor: pointer;
}
.search-box {
  display: flex;
  align-items: center;
  background-color: #f7f3f3;
  padding: 4px 16px;
  border-radius: 30px;
}
.search-box input {
  padding: 6px;
  background: transparent;
  outline: 0;
  border: 0;
  caret-color: #000000;
  font-size: 14px;
  max-width: 200px;
}
.search-box img {
  width: 32px;
  cursor: pointer;
}
.search-box input::placeholder {
  color: black;
}

/* Not Found */
.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
