@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

/* Nav Bar */

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  background-color: white;
  height: 70px;
  transition: background-color 0.5s;
}
.nav-bar.dark-mode {
  background-color: #333;
  color: white;
  transition: background-color 0.5s, color 0.5s;
}
.nav-bar h2 {
  font-size: 30px;
  font-weight: 600;
}
.nav-bar a {
  text-decoration: none;
  color: #f4dfc8;
}

.nav-cart {
  display: flex;
  align-items: center;
  position: relative;
}
.bag-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  left: 1.3rem;
  bottom: 0.8rem;
  font-size: 14px;
  color: white;
  font-weight: 500;
  position: absolute;
}

.nav-bar.dark-mode .bag-quantity {
  background-color: #faf6f0;
  color: black;
}

.home-route,
.product-route,
.about-route {
  margin-right: 50px;
  cursor: pointer;
}
.logo {
  width: 160px;
  height: 60px;
}
.mode-icon {
  width: 38px;
  cursor: pointer;
}
.search-box {
  display: flex;
  align-items: center;
  background-color: #f7f3f3;
  padding: 4px 16px;
  border-radius: 30px;
}
.search-box input {
  padding: 6px;
  background: transparent;
  outline: 0;
  border: 0;
  caret-color: #000000;
  font-size: 14px;
  max-width: 200px;
}
.search-box img {
  width: 32px;
  cursor: pointer;
}
.search-box input::placeholder {
  color: black;
}

/* Not Found */
.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

/* Home */
.home-container {
  padding: 2rem 4rem;
}
.home-container h2 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}
.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.product {
  width: 320px;
  max-width: 100%;
  height: 460px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5),
    2px 2px 5px rgba(95, 105, 115, 0.5);
}
.product img {
  width: 80%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.product h3 {
  font-size: 25px;
  font-weight: 400;
}
.product .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product .details .price {
  font-size: 16px;
  font-weight: 700;
}
.product button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin-top: 2rem;
  font-weight: 400;
  cursor: pointer;
  outline: none;
  border: none;
  color: white;
  background-color: #333;
  letter-spacing: 1.2px;
}

/* Cart */

.cart-container {
  padding: 2rem 4rem;
}

.cart-container h3 {
  font-weight: 400;
  font-size: 40px;
  text-align: center;
}

.cart-container .titles {
  margin: 2rem 0 1rem 0;
}

.cart-container .titles h3 {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.cart-item,
.cart-container .titles {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
  align-items: center;
}

.cart-item {
  border-top: 1px solid rgb(158, 146, 146);
}

.cart-container .titles .product-title {
  padding-left: 0.5rem;
}

.cart-container .titles .total {
  padding-left: 0.5rem;
  justify-self: right;
}

.cart-item .cart-product {
  display: flex;
  align-items: center;
}

.cart-item .cart-product img {
  width: 100px;
  max-width: 100%;
  margin-right: 1rem;
}

.cart-item .cart-product p {
  margin-top: 20px;
  font-size: 14px;
}

.cart-item .cart-product h4 {
  font-size: 18px;
  font-weight: 700;
}

.cart-item .cart-product button {
  margin-left: auto;
  margin-right: 5rem;
  border: none;
  outline: none;
  margin-top: 0.6rem;
  background: none;
  color: gray;
  cursor: pointer;
  justify-self: flex-end;
}

.cart-item .cart-product button:hover {
  color: black;
  transition: 0.8s ease-in;
}

.product-quantity {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 80px;
  max-width: 100%;
}

.product-quantity button {
  border: none;
  cursor: pointer;
  outline: none;
  background: none;
  padding: 0.5rem 1rem;
}

.product-quantity .count {
  padding: 0.5rem 0;
}

.total-price {
  justify-self: right;
  margin-right: 0.5rem;
  font-weight: 700;
}
/* Cart Summary*/

.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid black;
  padding-top: 2rem;
}

.cart-summary .cart-clear {
  width: 100px;
  max-width: 100%;
  height: 40px;
  font-weight: 400;
  border: 0.5px solid black;
  border-radius: 5px;
  letter-spacing: 1.2px;
  color: gray;
  background: none;
  outline: none;
  cursor: pointer;
}

.cart-checkout {
  width: 260px;
  max-width: 100%;
}

.cart-checkout .subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.cart-checkout .amount {
  font-weight: 700;
}

.cart-checkout p {
  font-weight: 200;
  font-size: 14px;
  margin: 0.5rem 0;
}

.cart-checkout button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  border: none;
  outline: none;
  background: #333;
  cursor: pointer;
  color: white;
  letter-spacing: 1.2px;
}

.continue-shopping,
.start-shopping {
  margin-top: 1rem;
}

.continue-shopping a,
.start-shopping a {
  color: gray;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.continue-shopping a span,
.start-shopping a span {
  margin-left: 0.5rem;
}

.cart-empty {
  display: flex;
  align-items: center;
  font-size: 20px;
  flex-direction: column;
  margin-top: 2rem;
  color: #333;
}
